
/*// Layout
$container-max-width: 1400px;

// Place holder
$input-placeholder-color: #888;

// Make the navbar shorter and the text brighter
$navbar-padding-y: .1rem;
$navbar-dark-color: rgba(#fff, .75);
$navbar-dark-hover-color: rgba(#fff, .85);
$navbar-dark-toggler-border-color: transparent;


// Select2
$select2-border-color: #ced4da;
$select2-focus-border-color: #80bdff;
$select2-arrow-color: #555;


// Sidebar
$sidebar-width: 230px;
$sidebar-color: #aaa;
$sidebar-link-hover-color: #fff;
$sidebar-transition-speed: 0.4s;
*/