@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string stringTest = "From Variable";
}


<h2>Anchor/Link Enabled</h2>

<a href="https://github.com/StrutTower" target="_blank" rel="noopener noreferrer">Enabled Link</a>

-

<a href="https://github.com/StrutTower" target="_blank" rel="noopener noreferrer" asp-enabled="false">Disabled Link</a>

<hr />

<h2>Breadcrumbs</h2>

<breadcrumbs>
    <breadcrumb-home />
    <breadcrumb-home>Homepage</breadcrumb-home>
    <breadcrumb-home asp-action="Test" />
    <breadcrumb-home asp-controller="Placeholder" />
    <breadcrumb-home asp-area="Reports" />
    <breadcrumb-home>Home (Overridden Content)</breadcrumb-home>
    <breadcrumb asp-action="Index" asp-controller="Test">Hard Coded String</breadcrumb>
    <breadcrumb asp-action="Index" asp-controller="Test" display-for="@stringTest" />
    <breadcrumb asp-action="Index" asp-controller="Test" display-for="TestString" />
    <breadcrumb asp-action="Index" asp-controller="Test" asp-fragment="Fragment">Fragment Test</breadcrumb>
    <breadcrumb>Active Breadcrumb</breadcrumb>
</breadcrumbs>

<hr />

<h2>Description</h2>

<description asp-for="TestDescription" />

<hr />

<h2>DisplayFor</h2>

<div display-for="DisplayTestString"></div>
<div display-for="DisplayTestDate" template="Date"></div>
<div display-for="DisplayTestDate"></div>

<hr />

<h2>ImgBytes</h2>


<img asp-bytes="@Model.ImageData" />

<hr />

<h2>Label Required</h2>

<div>
    <label asp-for="LabelTestWithDisplay"></label>
</div>
<div>
    <label asp-for="LabelTestWithDisplayName"></label>
</div>
<div>
    <label asp-for="FormFieldTestBooleanNullable" asp-force-required="true">Force Required Astrix on Nullable</label>
</div>

<hr />

<h2>Truncate</h2>


<truncate string="@Model.TruncateTestString" characters="15"></truncate>

<hr />

<h2>Vertical Table Row</h2>

<table class="table-vertical">
    <tr-display asp-for="TrDisplayTestString" />
    <tr-display asp-for="TrDisplayTestDate" template="Date" />
    <tr-display asp-for="TrDisplayNullString" null-text="Unknown" />
    <tr-display asp-for="TrDisplayNullInt" null-text="Unknown" tooltip="This is a test for the tooltip attribute." />
    <tr-display asp-for="TrDisplayTestBooleanNullable" />
    <tr-display asp-for="TrDisplayTestBooleanNullableTrue" />
    <tr-display asp-for="TrDisplayTestBooleanNullableFalse" />
    <tr-display asp-for="TrDisplayNullInt" hide-null="true" label="Should be hidden" />
    <tr-display asp-for="BlankString" hide-null="true" label="Should be hidden" />
</table>

<hr />

<h2>Visible</h2>

<div>
    <button class="btn btn-primary">Button 1</button>
    <button class="btn btn-primary" asp-visible="false">Button 2</button>
    <button class="btn btn-primary">Button 3</button>
</div>

<div class="mb-5"></div>

<partial name="_Forms" model="Model" />

<div class="mb-5"></div>

<partial name="_Modals" />

<div class="mb-5"></div>