@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string stringTest = "From Variable";
}


<div class="display-6 mb-3">Anchor/Link Enabled</div>

<a href="https://github.com/StrutTower" target="_blank" rel="noopener noreferrer">Enabled Link</a>

-

<a href="https://github.com/StrutTower" target="_blank" rel="noopener noreferrer" asp-enabled="false">Disabled Link</a>

<hr />

<div class="display-6 mb-3">Breadcrumbs</div>

<breadcrumbs>
    <breadcrumb-home />
    <breadcrumb-home><span class="mdi mdi-fw mdi-home"></span></breadcrumb-home>
    <breadcrumb-home asp-action="Test" />
    <breadcrumb-home asp-controller="Placeholder" />
    <breadcrumb-home asp-area="Reports" />
    <breadcrumb-home>Home (Overridden Content)</breadcrumb-home>
    <breadcrumb asp-action="Index" asp-controller="Test">Hard Coded String</breadcrumb>
    <breadcrumb asp-action="Index" asp-controller="Test" display-for="@stringTest" />
    <breadcrumb asp-action="Index" asp-controller="Test" display-for="TestString" />
    <breadcrumb asp-action="Index" asp-controller="Test" asp-fragment="Fragment">Fragment Test</breadcrumb>
    <breadcrumb>Active Breadcrumb</breadcrumb>
</breadcrumbs>

<hr />

<div class="display-6 mb-3">Description</div>

<description asp-for="TestDescription" />

<hr />

<div class="display-6 mb-3">DisplayFor</div>

<div display-for="DisplayTestString"></div>
<div display-for="DisplayTestDate" template="Date"></div>
<div display-for="DisplayTestDate"></div>

<hr />

<div class="display-6 mb-3">ImgBytes</div>


<img asp-bytes="@Model.ImageData" />

<hr />

<div class="display-6 mb-3">Label Required</div>

<div>
    <label asp-for="LabelTestWithDisplay"></label>
</div>
<div>
    <label asp-for="LabelTestWithDisplayName"></label>
</div>
<div>
    <label asp-for="FormFieldTestBooleanNullable" asp-force-required="true">Force Required Astrix on Nullable</label>
</div>

<hr />

<div class="display-6 mb-3">Truncate</div>


<truncate string="@Model.TruncateTestString" characters="15"></truncate>

<hr />

<div class="display-6 mb-3">Vertical Table Row</div>

<table class="table-vertical">
    <tr-display asp-for="TrDisplayTestString" />
    <tr-display asp-for="TrDisplayTestDate" template="Date" />
    <tr-display asp-for="TrDisplayNullString" null-text="Unknown" />
    <tr-display asp-for="TrDisplayNullInt" null-text="Unknown" tooltip="This is a test for the tooltip attribute." />
    <tr-display asp-for="TrDisplayTestBooleanNullable" />
    <tr-display asp-for="TrDisplayTestBooleanNullableTrue" />
    <tr-display asp-for="TrDisplayTestBooleanNullableFalse" />
    <tr-display asp-for="TrDisplayNullInt" hide-null="true" label="Should be hidden" />
    <tr-display asp-for="BlankString" hide-null="true" label="Should be hidden" />
</table>

<hr />

<div class="display-6 mb-3">Visible</div>

<div>
    <button class="btn btn-primary">Button 1</button>
    <button class="btn btn-primary" asp-visible="false">Button 2</button>
    <button class="btn btn-primary">Button 3</button>
</div>

<div class="mb-5"></div>

<partial name="_Forms" model="Model" />

<div class="mb-5"></div>

<partial name="_Modals" />

<div class="mb-5"></div>